body {
    margin: 0;
}
.logo {
    float: left;
}
.logo li a {
    text-decoration: none;
    color: black; 
}
.navbar {
    background-color:#6D6875;
    height:65px;
    overflow: hidden;
}
.navbar ul {
    float: right;
}
.navbar ul li {
    display: inline;
    text-align: center;
    margin-right: 40px;
    font-family: 'Nunito Sans', serif;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 36px;
    line-height: 42px;
}
.navbar ul li a 
{
    text-decoration: none;
    color: white;   
}
#search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 60px;
    border-radius: 15px;
    border: 5px solid #6D6875;
    padding: 5px;
}
#ask-questions {
    text-align: left;
    font-size: 26px;
    font-family: 'Nunito Sans', serif;
    border: none;
    outline: none;
    background: none;
    width: 540px;
    padding: 0 10px;
}
h1 {
    font-family: 'Nunito Sans', serif;
    text-align: center;
    padding: 10px;
}
.search-button{
    width: 40px;
    height: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6D6875;
}
/* About page */
* {
  box-sizing: border-box;
}
.about {
    margin: 30px;
}
.about h1 {
    font-size: 50px;
    font-family: 'Nunito Sans', serif;
}
.about h2 {
    font-size: 30px;
    font-family: 'Nunito Sans', serif;
}
.column {
    float: left;
    width: 25%;
    padding: 0 20px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
}
.about img {
    height: 90px;
    width: auto;
    float: left;
    margin-right: 20px;
}
.about .title.after {
    float: left;
    content: table;
}
.about .title h3{
    font-size: 42px;
    display: inline-block;
}
.about .description {
    font-size: 24px;
}
.body {
    text-align: center;
    display: inline-block;
}
.body img {
    width: 1000px;
    height: auto;
    padding: 50px 0;
}