
header {
    background-color:#6D6875;
    height:65px;
  

}
li {
    display: inline;
    margin-left: 40px;
    float:right;
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
}
#search-bar {
position: absolute;
width: 651px;
height: 63px;
left: 414px;
top: 192px;
}
#ask-questions{
    text-align: center;
    font-size: 40px;
    color: #B5838D;
    width: 651px;
height: 63px;
}
#magnifying-class{
    width: 65px;
height: 63px;
left: 600px;
}